.navbar{
    display: flex;
    align-items: center;
    position: absolute;
    /* font-weight:; */
    font-weight: 600;            top: 0px;
    width: 100%;
    
}
.ull{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ull li{
    /* padding: 20px; */
    margin: 20px;
    list-style: none;
    text-decoration: none;
    font-size: 1.3rem;
}
.ull li a{
    color: rgb(10, 10, 10);
display: block;
text-decoration: none;
padding: 3px 17px;
border-radius: 20px ;
text-shadow: 2px 2px solid white;


}
.ull li a:hover{
   color:white;
   background-color: black;
   border-radius: 20px;
   /* border: 7px solid black ; */
   /* background: 10px; */
  


}
.logo{
    /* margin-left: -170px; */
    height: 60px;
    margin-left: 10px;
}
input{
    background: url('icons8-search-30.png') no-repeat center left;
    margin-left: 20px;
    height:50px;
    width: 660px;
    border-radius: 30px ;
}
.bell{
    margin-left: 60px;
    margin-right: 20px;
    display: block;
    height: 25px;
    width: 30px;
}
.bell:hover{
   /* opacity: 0.4; */
   filter: drop-shadow(0.3px 1px 1px #090a0a);
}

.message_box{
    margin-left: 40px;
    margin-right: 20px;
    height: 25px;
    width: 27px;
}
.message_box:hover{
    /* opacity: 0.4; */
    filter: drop-shadow(0.3px 1px 1px #111314);
}
.user{
    margin-left: 40px;
    margin-right: 20px;
    height: 50px;
    width: 50px;
}
.user:hover{
    filter: brightness(1.09);
    filter: drop-shadow(0.3px 1px 1px #90c2e4);
}
.content {
    display:flex;
    /* background-color: pink; */
    /* padding-top:100px ; */
    margin-top: 100px;
    width: 100%;
    padding-left: 0px;

}
.image{
    flex: 33.33%;
    padding: 5px;
    height: 350px;
    width: 200px;
    border-radius:30px ;
}
.content1{
    display:flex;
    /* background-color: pink; */
    /* padding-top:100px ; */
    margin-top: 30px;
    width: 100%;
    padding-left: 0px;

}
.image:hover{
    opacity: 0.5;

    
}

footer{
    background-color: black;
    color: rgb(241, 239, 237);
    padding: 9px 20px;
    margin-top: 20px;
    padding-top:11px ;
    text-align: center;
}